<!DOCTYPE html>
<html>
  <head>
    <title>Realtycoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="u-message u-notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="u-message u-alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
